{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="page-header">لیست شعب</h1>
                <table class="table table-stripped table-bordered">
                    <thead>
                    <tr>
                        <th>شماره حساب</th>
                        <th>موجودی</th>
                        <th>نوع</th>
                        <th>صاحب حساب</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in object_list %}
                        <tr>
                        <td id={{account.pk}} >{{ account.account_number}}</td>
                        <td>{{ account.balance }}</td>
                        <td>{{ account.get_user_type_display }}</td>
                        {%if account.real_owner%}
                            <td><a href="{% url 'core:customer_detail' account.real_owner.id %}">
                              {{account.real_owner.first_name }} {{account.real_owner.last_name }}
                            </a></td>
                        {%endif%}
                        {%if account.legal_owners.all%}
                            {{ account.legal_owners.all | join:", " }}
                        {%endif%}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
{#                <div class="row">#}
{#                    <div class="col-md-8">#}
{#                        <nav>#}
{#                            <ul class="pagination">#}
{#                                <li>#}
{#                                    <a href="#" aria-label="Previous">#}
{#                                        <span aria-hidden="true">«</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li><a href="#">1</a></li>#}
{#                                <li><a href="#">2</a></li>#}
{#                                <li><a href="#">3</a></li>#}
{#                                <li><a href="#">4</a></li>#}
{#                                <li><a href="#">5</a></li>#}
{#                                <li>#}
{#                                    <a href="#" aria-label="Next">#}
{#                                        <span aria-hidden="true">»</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

