{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
  {% for account in account_list %}
  <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="list-group" id= {{branch.pk}} >
                <p><strong>شماره حساب:</strong>
                 {{account.account_number}}
                <br>
                <strong>موجودی:</strong>
                  {{account.balance}}
                <br>
                <strong>نوع:</strong>
                  {{account.get_user_type_display}}
                <br>
              {%if account.real_owner%}
              <strong>صاحب حساب:</strong>
                <a href="{% url 'core:customer_detail' account.real_owner.id %}">
                  {{account.real_owner}}
                </a>
              <br>
              {%endif%}
              {%if account.legal_owners.all%}
              <strong>صاحبان حقوقی حساب:</strong>
              {%endif%}
              {%for owner in account.legal_owners.all%}
                {{owner}}
                <br>
              {%endfor%}
          </div>
        </div>
      </div>
  </div>

  {% endfor %}
{% endblock %}
