{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-body">
          <div class="list-group">
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">ایجاد شعبه</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">لیست شعب</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">ایجاد کارمند</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">لیست کارمند‌ها</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">ایجاد مشتری</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">تعریف قبض جدید</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">تعیین کارمزد</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">ایجاد حساب</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">لیست حساب‌ها</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">تعیین حساب اصلی سامانه</button>
              <button type="button" class="btn btn-primary btn-raised btn-lg btn-block">دریافت گزارش شعب</button>
          </div>
    </div>
  </div>
</div>
{% endblock %}
