{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="page-header">لیست شعب</h1>
                <table class="table table-stripped table-bordered">
                    <thead>
                    <tr>
                        <th>نام شعبه</th>
                        <th>آدرس</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for branch in object_list %}
                        <tr>
                        <td id={{branch.pk}} >{{ branch.name}}</td>
                        <td>{{ branch.address}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
{#                <div class="row">#}
{#                    <div class="col-md-8">#}
{#                        <nav>#}
{#                            <ul class="pagination">#}
{#                                <li>#}
{#                                    <a href="#" aria-label="Previous">#}
{#                                        <span aria-hidden="true">«</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li><a href="#">1</a></li>#}
{#                                <li><a href="#">2</a></li>#}
{#                                <li><a href="#">3</a></li>#}
{#                                <li><a href="#">4</a></li>#}
{#                                <li><a href="#">5</a></li>#}
{#                                <li>#}
{#                                    <a href="#" aria-label="Next">#}
{#                                        <span aria-hidden="true">»</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
