{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
              <p><strong>حساب:</strong>
                  salam keivan
                </a>
              </p>

              <p><strong>مبلغ:</strong> {{cheque_issue.amount}}</p>

                {% if cheque_issue.dest == None %}
                    <p><strong>نوع:</strong> {{"پرداخت نقدی"}}</p>
                {% else %}
                    <p><strong>نوع:</strong> {{"واریز به حساب "}}</p>
                    <p><strong>حساب مقصد:</strong> {{ cheque_issue.dest}}</p>
                {% endif %}

              <p> <strong>تاریخ:</strong> {{cheque_issue.date|date:"SHORT_DATE_FORMAT"}}</p>

              <p><strong>شماره چک:</strong> {{ cheque_issue.cheque.cheque_id}}</p>

              <p><strong>شماره حساب:</strong> {{ cheque_issue.cheque.cheque_application.account}}</p>

{#              <p><strong>شعبه:</strong>#}
{#                <a href="{% url 'core:branch_list' %}#{{transaction.branch.pk}}">{{ transaction.branch }}#}
{#                </a>#}
{#              </p>#}

              </div>
            </div>
        </div>
    </div>
{% endblock %}
