{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="page-header">لیست کارمندان</h1>
                <table class="table table-stripped table-bordered">
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>سمت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in managers %}
                        <tr>
                            <td><a href="{% url 'core:delete_employee' employee.id %}?type=manager" class="glyphicon glyphicon-remove"></a></td>
                            <td>{{ employee.user.username }}</td>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>مدیر شعبه</td>
                        </tr>
                    {% endfor %}
                    {% for employee in jursits %}
                        <tr>
                            <td><a href="{% url 'core:delete_employee' employee.id %}?type=jursit" class="glyphicon glyphicon-remove"></a></td>
                            <td>{{ employee.user.username }}</td>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>کارشناس حقوقی</td>
                        </tr>
                    {% endfor %}
                    {% for employee in auditors %}
                        <tr>
                        <td><a href="{% url 'core:delete_employee' employee.id %}?type=auditor" class="glyphicon glyphicon-remove"></a></td>
                        <td>{{ employee.user.username }}</td>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.last_name }}</td>
                        <td>حسابرس</td>
                    </tr>
                    {% endfor %}
                    {% for employee in cashiers %}
                        <tr>
                        <td><a href="{% url 'core:delete_employee' employee.id %}?type=cashier" class="glyphicon glyphicon-remove"></a></td>
                        <td>{{ employee.user.username }}</td>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.last_name }}</td>
                        <td>صندوق‌دار</td>
                    </tr>
                    {% endfor %}
                    {% for employee in maintainers %}
                        <tr>
                        <td><a href="{% url 'core:delete_employee' employee.id %}?type=maintainer" class="glyphicon glyphicon-remove"></a></td>
                        <td>{{ employee.user.username }}</td>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.last_name }}</td>
                        <td>مسئول دستگاه خودپرداز</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
{#                <div class="row">#}
{#                    <div class="col-md-8">#}
{#                        <nav>#}
{#                            <ul class="pagination">#}
{#                                <li>#}
{#                                    <a href="#" aria-label="Previous">#}
{#                                        <span aria-hidden="true">«</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li><a href="#">1</a></li>#}
{#                                <li><a href="#">2</a></li>#}
{#                                <li><a href="#">3</a></li>#}
{#                                <li><a href="#">4</a></li>#}
{#                                <li><a href="#">5</a></li>#}
{#                                <li>#}
{#                                    <a href="#" aria-label="Next">#}
{#                                        <span aria-hidden="true">»</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}