{% extends "core/background.html" %}
{% load widget_tweaks %}
{% block pageBody %}
  {% for transaction in transaction_list %}
{#      {% if transaction.account.real_owner.first_name == 'rasa' %}#}
      <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="list-group">
                    <a href="{% url 'core:transaction_detail' transaction.id %}">
                      <p><strong>شماره حساب:</strong>
                          {{ transaction.account.account_number}}
                      <br>
                      <strong>تاریخ:</strong>
                        {{ transaction.date|date:"SHORT_DATE_FORMAT"}}
                      <br>
                      <strong>نوع:</strong>
                        {{ transaction.get_transaction_type_display}}
                      </p>
                    </a>
                  </div>
              </div>
            </div>
      </div>
{#      {% endif %}#}

  {% endfor %}
{#  {% for transaction in transaction %}#}


{% endblock %}

